langchain
python-dotenv
streamlit
unstructured
tiktoken
faiss-cpu
libmagic
python-magic
# python-magic-bin
openai
langchain-core
langchain-community
langchain-text-splitters
langchain-openai
from-root
ipykernel
sentence-transformers

-e .